{% extends 'basic_template_2.twig' %}

{% block content %}
    {% block titlePost %}
        {% autoescape %}
            <h4>{{ content.title | raw }}</h4>
        {% endautoescape %}
    {% endblock %}

    {% block detailPost %}
        <div class="well well-lg">
            {% autoescape %}
                {{ content.chapo | raw }} <br>
            {% endautoescape %}
        </div>
        {{ dump }}
        <div class="well well-lg">
            {% autoescape %}
                {{ content.content | raw }} <br>
            {% endautoescape %}
            <hr>
            <a href="#demo"  data-toggle="collapse"> 2 commentaires <i class="far fa-comment"></i></a>
            <div id="demo" class="collapse">
                <p>
                    Merci pour cet article !
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        {% if role == 1 %}
            <a href="..\..\Posts\editPost\{{ content.id }}">
        <button type="button" class="btn btn-outline-warning">Modifier</button>
            </a>

            <form method="POST" action="../../Posts/destroyPost">
            <input type="hidden" name="id" value="{{ content.id }}">
            <button type="submit" class="btn btn-outline-danger">Supprimer</button
            </form>
        {% endif %}
    {% endblock %}
{% endblock %}
