{% extends 'admin_template_2.twig' %}

        {% block content %}
            {% if role == 1 %}
                <i class="fas fa-user"></i> :   {{ user.lastname }} {{ user.firstname }}<br>
                <i class="fas fa-envelope"></i> : {{ user.email }}<br>
                <hr>
                <p>Dernier message :</p>
                <i class="fas fa-comment"></i> : {{ user.comment }} posté le : {{ user.comment_date | date("d/m/y à H:i:s") }}<br>
                <hr>
                {% if user.suspend != 1 %}
                Suspendre le compte: <input type="checkbox" id="myCheck"  onclick="myFunction()">
                <form method="post" action="../../Users/suspend">
                <p id="text" style="display:none">
                    <br>

                    <input type="checkbox" name="suspend" class="form-check-input" value="1"> Cocher pour suspendre
                    <input type="hidden" name="user_id" value="{{ user.user_id }}">
                    <br>
                    <input type="submit"  value="Suspendre" class="btn btn-danger">
                </p>
                </form>
                    {% else %}
                        <div class="alert alert-danger">
                            <strong>Utilisateur suspendu</strong>.
                        </div>
                        <form method="post" action="../../Users/stopSuspend">

                                <input type="checkbox" name="suspend" class="form-check-input" value="0"> Cocher pour réactiver
                                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                                <br>
                                <input type="submit"  value="Réactiver" class="btn btn-info">

                        </form>
                        {% endif %}


            {% else %}
                <div class="alert alert-info">
                    <strong>Merci de vous connecter </strong>
                </div>
            {% endif %}
        {% endblock %}

